.header-text {
	padding-top: 50px;
	color: rgb(80,80,80);
    font-weight: bold;
}

.item {
	text-align: center;
}

.picture {
	padding-top: 50px;
}

.text {
	color: red;
}

.btn-up { 
	color: red;
}

.header-text1 {
	color: rgb(80,80,80);
    font-weight: bold;
}

/*Kuopion kulkijat info*/
.info {
	color: rgb(80,80,80);
}

/*Etkö ole vielä rekisteröitynyt?*/
.sign-up {
	text-align: center;
	color: grey;
}