.item {
	text-align: center;
}

.formBasic
{
margin: 10px;
border-color: black;
}
.text {
	color: grey;
}

.hero {
	margin-top: 20px;
}

.buttons {
	display: flex;
	gap: 5px;
}

h1, h2, h3, h4 {
	padding-top: 10px;
	color: rgb(80,80,80);
    font-weight: bolder;
}

/*Kuopion kulkijat info*/
.info {
	color: rgb(80,80,80);
}

.sign-up {
	display: block;
	text-align: center;
	justify-content: center;
	color: grey;
}