/*Matkakohdekortit*/
.browse-destinations {
    display: flex;
    justify-content: start;
    gap: 5px;
}

.destination-card 
/*Paikan nimi*/
.destination {
    margin-left: 3px;
    font-weight: bold;
}

/*Paikan sijainti*/
.location {
  display: flex;
  align-items: center;
  color: grey;
  font-style: italic;
}

.destination-img {
    padding: 3px;
}

.destination-btn {
    display: grid;
    grid-template-rows: 1;
    grid-template-columns: 3;
    justify-content: start;
    gap: 5px;
}

/*Kortin poista ja muokkaa napit*/
.card-btns {
    display: flex;
    gap: 5px;
}