/*Matkakohdekortit*/
.browse-destinations {
    display: flex;
    justify-content: start;
    gap: 5px;
}

.destination-card 
/*Paikan nimi*/
.destination {
    margin-left: 5px;
}

/*Paikan sijainti*/
.location {
  display: flex;
  align-items: center;
  color: grey;
}

.destination-img {
    padding: 3px;
}

.destination-btn {
    display: flex;
    gap: 5px;
}
