.destination {
    margin-left: 3px;
    font-weight: bold;
}

.matkakohdeKuva {
    padding: 3px;
    max-height: 200px;
    max-width: 198px;
}

.destination-btn {
    display: grid;
    grid-template-rows: 1;
    grid-template-columns: 3;
    justify-content: start;
    gap: 5px;
}