.footer {
    text-align: center;
    color: grey;
    margin-top: 20px;
}

/*Apua, tietoa & ota yhteyttä*/
.footer-bar {
    justify-content: center;
    display: grid;
	grid-template-columns: repeat(3, 100px);
	list-style: none;
}

.help {
    border-right:1px solid grey;
    grid-column: 1;
}

.about {
    border-right:1px solid grey;
    grid-column: 2;
}

.contact {
    grid-column: 3;
}

/*Sivun alin osa*/
.lower-footer {
    margin-top: 15px;
}

/*Tämä osa on turha. Paikoillaan vain jos joku 
haluaa muokata copyright Projektiryhmä Q -kohtaa
.copy-right  {
    text-decoration: none;
}*/